html {
  font-size: 25px;
}

@media (min-width: 768px) {
  html {
    font-size: 23px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 50px;
}

.customPadding {
    padding: 75px 20px;
}

.startImgStyle{
    border-radius: 20px;
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.3));
    margin: 20px;
}

.subtitleStyle{
    font-weight: 400;
    letter-spacing: 2px;


}

.customTextFooter{
    text-align:right;
    color:grey;
}

.customDiv{
    background:black;
    margin:0;
}


.customText{
    margin:100px 0 20px 0;
    color:white;


}


.OrderSelect :hover{
    transform: scale(1.35);
}

