@page
@model RazorPurchaseOrdersApp.Pages.BurgerModel
@{
}

@*In the burger view we should be able to jump to custom burgers and checkout views*@
<a class="nav-link text-dark" asp-area="" asp-page="Forms/CustomBurger">CustomBurger</a>

<a class="nav-link text-dark" asp-area="" asp-page="Checkout/Checkout">Checkout</a>
