@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="customPadding">
    <h1 class="display-4 text-capitalize text-black">Welcome to Razor Burgers Menu</h1>
        <h2 class="subtitleStyle">Razor Burgers are the most epic choices!</h2>
    </div>
    <img class="startImgStyle" src="~/Images/BurgerMenu.PNG" class="w-5000 h-5000" />
    <br/>
    <a class="btn btn-primary mt-1" asp-area="" asp-page="Burger">GO TO RAZORS BURGERS MENU</a>
    
</div>
