@page
@model RazorPurchaseOrdersApp.Pages.Forms.CustomBurgerModel
@{
}

@*In the custom burger view we should be able to jumpt to checkout view*@
<a class="nav-link text-dark" asp-area="" asp-page="Checkout/Checkout">Checkout</a>